@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}



/* About Section */

section {
  height: auto;
  padding: 0 12%;
  padding-top: 8rem;
  width: 100%;
  position: relative;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.about .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.about img {
  width: 25vw;
  height: auto;
  border-radius: 50%;
}
.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}
.info-box h3 {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.8;
}
.info-box h1 {
  font-size: 4rem;
  font-weight: 600;
}
.info-box span {
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
  font-size: 2rem;
}
.btn-group {
  display: flex;
  gap: 1rem;
}
.btn {
  border-radius: 3rem;
  border: 2px solid black;
  padding: 0.5rem 0.9rem;
  cursor: pointer;
  text-wrap: nowrap;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.btn .Link{
  color: black;
  padding: 0.5rem 0.5rem;
}
.btn:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}
.aboutLink{
  color: black;

}
.btn:hover .aboutLink{
  color: white;
}

.socials {
  display: flex;
  gap: 2rem;
}
.socials .i {
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.socials .i:hover {
  transform: scale(1.1);
}

.section-title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}

/* Servies Section*/
.service {
  margin-bottom: 4rem;
}
.service-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.service-info .img {
  width: 24vw;
  height: auto;
  border-radius: 3rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.grid-card {
  border: 2px solid black;
  padding: 3rem 2rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.grid-card:hover {
  color: white;
  background-color: black;
  transform: scale(1.05);
  backdrop-filter: blur(8px);
}
.grid-card img {
  width: 3rem;
  height: auto;
  margin-bottom: 1rem;
}
.grid-card h3 {
  font-size: 1.5rem;
  font-weight: 500;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
  margin-bottom: 0.5rem;
}

.grid-card p {
  color: rgb(122, 122, 122);
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(0, 157, 255), rgb(255, 0, 255));
  border-radius: 10px;
}


/* Skills Section */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.skill-item {
  border: 2px solid black;
  padding: 1rem 1rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  gap: 0.7rem;
}
.skill-item:hover {
  color: white;
  background-color: black;
  transform: scale(1.05);
  backdrop-filter: blur(8px);
}
.skill-item img {
  width: 6rem;
  height: auto;
  margin-bottom: 1rem;
  margin: auto;
}
.skill-item h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 100%;
  font-weight: 600;
}
.skill-item p{
  padding: 0.5rem 1rem;
  width: 50%;
  font-size: 1.3rem;
  text-align: center;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  border-radius: 3rem;
  margin: auto;
}


/* Project Section */

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.project-card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  align-items: center;
  gap: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.project-card:hover {
  background-color: black;
  color: white;
  transform: translateY(-10px) scale(1.02);
}
.project-card img {
  width: 20vw;
  height: auto;
  border-radius: 30px;
}
.project-card:hover .btn {
  border: 2px solid white;
  color: white;
}
.project-card:hover .btn:hover {
  border: 2px solid white;
  background-color: white;
  color: black;
}
.project-card:hover .btn .Link{
  color: white;
}
.project-card:hover .btn .Link:hover{
  color: black;
}
.project-card h3 {
  font-size: 2rem;
  font-weight: 500;
}


/* Contact Section */

.input-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.input-box input {
  position: relative;
  border-radius: 3rem;
  border: 2px solid black;
  padding: 2rem 8rem;
  font-size: 3rem;
}
.input-box input::placeholder {
  font-size: 3rem;
}
.input {
  position: relative;
}

.input .i {
  position: absolute;
  font-size: 4rem;
  top: 50%;
  left: 10px;
  transform: translate(50%, -50%);
}

/* Footer Section */

footer {
  bottom: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
footer ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
footer ul .li {
  color: black;
  font-weight: 600;
}

footer .li {
  position: relative;
  color: white;
  font-weight: 300;
}
footer .li::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 3px;
  top: 24px;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}
footer .li:hover::before {
  width: 100%;
  right: 0;
}
.copyright {
  font-size: 300;
  margin-top: 2rem;
}



/* Responsiveness */

@media (max-width: 1280px) {
  .btn {
    border-radius: 3rem;
  }

  .header {
    padding: 1rem 2rem;
    gap: 2rem;
  }
  .about .about-container {
    gap: 3rem;
  }
  .service-info {
    flex-direction: column;
  }
  .input-box input {
    padding: 2rem 5rem;
    font-size: 2.5rem;
  }
  .input input::placeholder {
    font-size: 2.5rem;
  }
  .input-box .i {
    font-size: 2.5rem;
  }
}

@media (max-width: 780px) {
  .skills-grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .about-container{
    flex-direction: column;
  }
  .input-box input {
    padding: 1rem 2rem;
  }
  .input-box input::placeholder {
    text-align: center;
    font-size: 2rem;
  }
  .input-box .i {
    display: none;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-card {
    gap: 0.7rem;
  }
  .grid-card img {
    margin: auto;
    width: 10vw;
  }
  .grid-card h3 {
    font-size: 1.8rem;
    margin: auto;
  }
  .grid-card p {
    margin: auto;
    width: 80%;
  }
  .service-info .img {
    width: 70vw;
  }
  footer {
    margin-top: 7rem;
  }
  .btn {
    padding: 0.5rem 0.6rem;
  }
}

@media (max-width: 600px) {
  .about-container img{
    width: 80vw;
  }
  .input-box input{
    padding: 0.5rem 2rem;
    width: 100%;
    font-size: 1.5rem;
  }
  .input-box input::placeholder{
    font-size: 1.2rem;
  }
  footer ul{
    gap: 1rem;
  }
  .skills-grid{
    grid-template-columns: repeat(1, 1fr);
  }

}
